<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is about</h1>
    {% for x in p %}
    <h1>data of persons {{x.id}}</h1>
    <p>name:{{x.name}}</p>
    <p>address:{{x.address}}</p>
    <p>age:{{x.age}}</p>
    <p>discription:{{x.discription}}</p>
    {% if x.image %}
    <img src="{{ x.image.url }}" alt="{{x.name}}"  width="1000">
    
    {% endif %}
    {% endfor %}
    
</body>
</html>