{% extends './components/navbar.html' %}
{% load static %}

{% block content %}

<div>
    {% load static %}
    <img src="{% static 'images/shiva.png' %}" alt="shiva">
    <div class="navbar">
        <h1>Django App</h1>
        <div class="nav-links">
            <a href="{% url 'login_view' %}">Login</a>
            <a href="{% url 'signup' %}">Sign Up</a>
        </div>
    </div>

    <!-- Hero Section -->
    

    <!-- Footer -->
    <div class="footer">
        <p>&copy; 2025 Django App. All Rights Reserved.</p>
    </div>
    

</div>

{% endblock %}
